.demo-bar { 
    font-size: 11px;
}

.demo-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.demo-bar .container p {display: inline-block;}

.fa-solid { font-size: 10px; }

.demo-doc { display: flex; }

.demo-doc div { margin-right: 1rem;}

.demo-bar, .navbar { background-color:#f9fafb; }

.navbar .container {
    display: flex;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 500;
    transition: ease-in-out 0.3s;
}

.navbar .container {
    display: flex;
    align-items: center;
}

.navbar.sticky {
    box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
    background: white;
    top: 0;
    padding-top: 0.75rem;
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand,
.demo-bar, p,
.navbar-toggler span,
.nav-link a, .hire-us .hire-header p {
    color: #8b97a5;
}

.navbar-toggler {
    position: absolute;
    right: 20px;
    top: 10px;
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-toggler span {
    font-size: 20px;
    cursor: pointer;
    pointer-events: none;
}

[aria-controls="navbarDropdown"] {
    display: none;
}

.navbar-brand {
    margin-right: auto;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    max-width: 90px;
    margin-left: 10px;
    transition: ease-in-out 0.3s;
}

.nav-link a {
    font-size: 13px;
    font-weight: 100;
    margin-right: 20px;
    line-height: 20px;
}

.navbar-nav .nav-link .home { color: #4488ff; }

.navbar-nav {
    display: flex;
    align-items: center;
}

.buy-btn {
    background-color: #347eff;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 20px;
    color: white;
    font-size: 13px;
}

.bg-header {
    padding: 6rem 0;
    background: linear-gradient(175deg, #f9fafb 62%, #ffffff 38%);
}

.bg-header .container {
    display: flex;
    justify-content: space-between;
}

.bg-header .block-text { margin-top: 2rem; }

.block-text h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

h2, h3 { color: #181a1c; }

.block-text p { 
    color: #677889;
    margin-bottom: 1.5rem;
}

.header-btn {
    display: inline-block;
    font-size: 13px;
}

.video-btn { margin-right: 0.5rem; }

.video-btn i { 
    font-size: 12px;
    margin-right: 0.5rem;
}

.learn-btn {
    color: #347eff;
}

.learn-btn i { margin-left: 0.5rem; }

.logo-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 110px);
    padding-right: 2rem;
}

.box {display: flex;}

.logo-box {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 2px 2px 1px rgba(240,241,243,255);
    transition: ease-in-out 0.3s;
}

.box-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.box-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: flex-end;
}
.box-3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-content: center;
    align-items: center;
}

.box-4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-content: flex-end;
    align-items: center;
}
.box-5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-content: flex-start;
    align-items: flex-end;
}
.box-6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-content: flex-start;
    align-items: flex-start;
}
.box-7 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    justify-content: center;
    align-items: flex-end;
}

.section-header {
    text-align: center;
    margin: 4rem 0;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: .5rem;
 }


.benefits .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-size: 12px;
    padding: 1rem;
    min-height: 200px;
}

.card:hover {
    box-shadow: 0 2px 2px 1px #f8fafe;
}

.card, .started {
    border: 1px solid transparent;
    box-shadow: 0 2px 2px 1px rgb(240 241 243);
}

.card-icon { width:  2.5rem;}

h4 { color: #1a1c1e; }

.card h4 { 
    font-size: 14px;
    margin-bottom: 0;
}

.card-btn { color: #347eff; }

.card-btn i { font-size: 8px;}

.premium { margin-top: 1rem;}

.premium h4 { display: inline; }

.sketch {
    display: inline;
    background-color: #00caa8;
    color: white;
    padding: 0 .25rem;
    border: 1px solid transparent;
    border-radius: 20px;
}

.perspective {
    margin-top: 6rem;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 6rem;
    background-color: #f8fafe;
    overflow: hidden;
}

.perspective .container{
    display: flex;
    padding: 0;
    margin: 0 15px;
}


.perspective .block-text {
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perspective .block-text h2 { 
    font-size: 1.5rem; 
    margin-bottom: 1rem;
    font-weight: 500;
}

.perspective-banner { flex: 2; }

.started-btn { 
    padding: 0.75rem 1.25rem; 
}

.why { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5rem;
    align-items: center;
    padding: 0 5rem;
}

.why ul {
    display: flex;
}

.dot-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.dot-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.dot-container h4 { width: 10rem; }

.dot {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0 0.5rem;
    background: radial-gradient(#4488ff 8%, #edf2ff 8%);
}

.dot-box h4 { 
    margin:  0 3rem; 
    margin-top: 1rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.dot-box .first-dot { margin-left: 0; }
.dot-box .last-dot { margin-right: 0; }

.line { 
    width: 100%;
    flex: 1;
    border-top: 1px solid #ecf2ff;
}

.why-video {
    margin: 0 4rem;
    padding-top: 3rem;
    position: relative;
}

.why-video-btn {
    width: 5rem;
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
    bottom: 50%;
}

.why-video-btn .fa-play { font-size: 2rem; }

.executive { 
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.photo-container { position: relative; }

.photo-bg{
    background-image: url(/assets/icons/dots.svg);
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 75%;
}

.photo { 
    max-width: 25rem;
    z-index: 100;
    position: relative;
    padding-bottom: 10%;
    padding-left: 10%;
}

.text {
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.executive .text p {
    line-height: 1.5rem;
    color: #3a3c3e;
}

.text span {
    margin-top: 0;
    font-size: 12px;
    color: #8b97a5;
}

.hub-spot {
    width: 5rem;
}

.h5 { margin-top: 2rem;}

.trusted p {
    text-align: center;
    text-transform: uppercase;
    margin: 5rem 0;
    font-size: 12px;
    font-weight: 600;
}

.logo-container {
    display: flex;
    justify-content: space-evenly;
}

.company-logo {
    max-width: 5rem;
}

.pricing .container {
    display: flex;
}

.started { 
    padding: 0 1.5rem;
    width: 30rem;
    height: fit-content;
}

.price {
    border-bottom: 2px solid rgb(240 241 243);
    padding-bottom: 1rem;
}

.dollar {
    font-size: 3rem;
    font-weight: 600;
}

.started-btn + p{
    font-size: 10px;
} 

.pricing { margin-bottom: 5rem; }

.pricing-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    margin-left: 2rem;
}

.price-card { 
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-right: 2rem;
    margin-bottom: 1rem;
    line-height: 1.25rem;
    font-size: 14px;
}

.price-card h4 { margin-bottom: 0; }

.price-card img { width: 2rem; }

/* .hire { margin-top: 5rem; } */

.hire-us, .testimonial-photos, .name, .budget, .email { 
    display: flex; 
    align-items: center;
}

.hire-us {
    background: #1b305b;
    padding-top: 8rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.hire-us .block-text { padding: 0 3rem; }

.hire-us .block-text h3,
.hire-us p { 
    color: white;
}

.hire-header { border-bottom: 1px solid #8b97a5;}

.hire-testimonial + p { font-style: italic; }

.hire-testimonial p:nth-child(2) { margin-bottom: 0; }

.hire-testimonial p:last-child {
    margin-top: 0;
    color: #8b97a5;
    font-size: 12px;
}

.person {
    margin-right: 2rem;
    width: 2rem;
}

.testimonial-photos .selected { width: 3rem; }

.person img { border-radius: 50%; }

form { 
    background-color: white; 
    padding: 2rem;
    border-radius: 5px;
}

.form-header h3 { font-size: 1.25rem; }

.hire-form { padding: 0 5rem;}

.hire-form div { width: 100%; }

.hire-form input, .hire-form select, textarea { 
    width: 100%; 
    padding: 0.75rem 0.5rem;
    margin: 0.5rem;
    margin-left: 0;
    border: 1px solid #8b97a5;
    border-radius: 5px;
    box-shadow: rgba(178, 183, 187, 0.2) 0px 8px 24px;
}

textarea { font-family: Arial, Helvetica, sans-serif; }

.agree { 
    margin: 1rem 0; 
    color: #8b97a5;
}

.hire-form .agree input { width: auto; }

.hire-form .agree label { font-size: 10px; }

.agree span { border-bottom: dashed #8b97a5;}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0 ;
}

.footer-container div {
    display: flex;
    flex-direction: column;
}

.col-1 ul li:first-of-type { max-width: 100px; }

.footer-container ul li h5 {
    color: #181a1c;
    font-size: 14px;
    margin: 0;
}

.footer-container ul li i  { color: #677788; } 


.footer-container div li { 
    line-height: 2rem; 
    font-size: 12px;
    color: #8b97a5;
}

.footer-container div li:hover,
.top-bar p:hover,
.top-bar-right div:hover { color: #347eff;}

.footer-container div li span {
    background-color: #347eff;
    color: white;
    margin-left: .5rem;
    padding: 0.25rem;
    border-radius: 5px;
}

.footer-bottom-container {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 10px;
}

.top-bar, .top-bar-left, .top-bar-right { display: flex; }

.top-bar {  
    border-top: 1px solid #edf2ff; 
    padding-top: 2rem;
}

.top-bar-right {
    color: #8b97a5;
}

.top-bar-left p,
.top-bar-right div {
    margin: 0 0.5rem;
}

.top-bar-right div {
    background-color: #edf2ff;
    padding: 0.25rem;
    border-radius: 5px;
}

.language i {
    margin: 0 0.25rem;
}

.top-bar { justify-content: space-between;}

.copyright { 
    text-align: center; 
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
}
